@import '../style/constants.scss';

.ticket {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background-color: $white;
    border-radius: 5px;
    margin-top: 20px;

    &:first-child {
        margin-top: 0;
    };

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
    };

    &__price {
        color: $blue;
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;
    };

    &__logo {
        width: 110px;
    };

    &__line {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    };

    &__info {
        
        &--name {
            text-transform: uppercase;
            color: $text-light;
            font-size: 12px;
            line-height: 18px;
        };

        &--value {
            color: $text;
            font-size: 14px;
            line-height: 21px;
        };
    };
};